<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655556525844-mnvig5bfe8ishmaqg3tvbek9pihp0gv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655556525844-mnvig5bfe8ishmaqg3tvbek9pihp0gv4</string>
	<key>API_KEY</key>
	<string>AIzaSyCfMccBHPLBVAZWREA4xiZYxmyq_u1XUdI</string>
	<key>GCM_SENDER_ID</key>
	<string>655556525844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication</string>
	<key>PROJECT_ID</key>
	<string>nexus-fba20</string>
	<key>STORAGE_BUCKET</key>
	<string>nexus-fba20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655556525844:ios:3f55b9445ce633113f8c01</string>
</dict>
</plist>